<div class="center jumbotron mt-4">
  <h1 class="display-4">ようこそ</h1>
  <p class="catch mt-3">
    <b id="appname">Achievement Sharing App</b>でタスクの管理をしませんか？
  </p>
  <hr class="my-4">
  <p class ="mb-0">
    対応ブラウザ：Google Chrome / Microsoft Edge / Firefox
  </p>
</div>
