<div class="center jumbotron mt-4">
  <h1 class="display-4">ようこそ</h1>
  <p>---編集中---</p>

<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>
</div>
