<% provide(:title, 'アカウント削除完了') %>
<div class="row">
  <div class="col-md-6 offset-md-3 pt-5">
    <h1 class="center"><b>アカウントが削除されました</b></h3>
    <p class="center">ご利用ありがとうございました</p>
    <div class="center mt-4">
      <%= link_to "OK", "/", class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>