<% provide(:title, 'アカウント設定') %>
<h1 class="center mt-3">アカウント設定</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="mt-5">
      <%= link_to "プロフィール変更", "/users/#{current_user.id}/edit_profile", class: "btn btn-success btn-block mb-5" %>
      <%= link_to "パスワード変更", "/users/#{current_user.id}/edit_password", class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>