<h1>Timeline</h1>

<table class = "timetable">
    <tr class = "nowrap">
        <th>利用者ID</th>
        <th>名前</th>
        <th>日付</th>
        <th>内容</th>
        <th>達成度</th>
    </tr>

    <% @tasks.each do |task| %>
     <tr>
        <td><%= task.user.user.uid %></td>
        <td><%= link_to task.date, tasklist_path(task[:date]) %></td>
        <td><%= task.content %></td>
        <td><%= task.achievement %>%</td>
     </tr>
    <% end %>
</table>

