.users {
  margin: 0;
  a{
    font-size: 1.3em;
    &:hover {
      text-decoration: none;
    }
  }
}

.pagination{
  justify-content: center;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

#subt {
  font-size: 1.75em;
}

.name {
  margin: 0;
  font-size: 1.3em;
}

.profile_task {
  font-size: 1.25em;
}

.task_table{
  margin: 3px auto;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.profile_date {
  width: 15%;
}

.profile_content {
  width: 75%;
}

.profile_achievement {
  width: 10%;
}
